<div class="col-lg-8">
    <h1>{{title}}</h1>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">
        <p>
            <label>
                Nombre
                <span *ngIf="!name.valid && name.touched" class="badge badge-warning">
                    El nombre es obligatorio
                </span>
            </label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
        </p>
        <p>
            <label>
                Apellido
                <span *ngIf="!apellido.valid && apellido.touched" class="badge badge-warning">
                    El Apellido es obligatorio
                </span>
            </label>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" class="form-control" required />
        </p>
        <p>
            <label>
                Correo electronico
                <span *ngIf="!email.valid && email.touched" class="badge badge-warning">
                    El correo electrónico es obligatorio
                </span>
            </label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
        </p>
        <p>
            <label>
                Contraseña
                <span *ngIf="!password.valid && password.touched" class="badge badge-warning">
                    La contraseña no es correcta
                </span>
            </label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
        </p>

        <input type="submit" value="{{title}}" [disabled]="!registerForm.form.valid" class="btn btn-primary" />
    </form>
</div>